numpy==1.24.3
opencv-contrib-python==4.7.0.72
pandas==2.0.1
Pillow==9.5.0
pycoral==2.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tflite-runtime==2.5.0.post1
tzdata==2023.3
